@model IEnumerable<BlogMvcApp.Models.BlogModel>

@{
    ViewBag.Title = "Index";
}

<h2>Blog Listesi</h2>



@foreach (var blog in Model)
{
    <div class="blog">
        <h3 class="page-header">
            @blog.Baslik
        </h3>

        <p>
            <span class="glyphicon glyphicon-time"></span>
            @blog.EklemeTarihi
        </p>
        <hr />
        <img class="img-responsive" src="https://poshancurethrudiet.com/wp-content/uploads/2014/09/placeholder.gif" alt="" />
        <hr />
        <p>

            @blog.Aciklama
        </p>
        @Html.ActionLink("Daha Fazla...", "Details", "Blog", new { id = @blog.Id }, new { @class = "btn btn-primary" })

    </div>

}


@section SagKolon
{

    <div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
            <input type="text" class="form-control" />
            <span class="input-group-btn">
                <button class="btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>


    <!-- /.input group-->



    

   @{Html.RenderAction("KategoriListes", "Category");}
}




